@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div class="container mx-auto px-4 py-6">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-3xl mx-auto">
        <h1 class="text-4xl font-extrabold mb-6 text-center text-indigo-600">About Us</h1>
        <p class="text-gray-800 text-lg mb-6">
            Welcome to Chequeando, where we simplify the real estate experience. Our goal is to provide a seamless platform for finding and managing properties, tailored to meet your needs whether you're buying, selling, or renting.
        </p>
        <div class="mb-6">
            <h2 class="text-2xl font-bold text-gray-900 mb-4">Our Mission</h2>
            <p class="text-gray-700">
                At Chequeando, we are committed to making the property search process transparent and efficient. We offer tools and resources designed to help you make informed decisions and connect with the right opportunities.
            </p>
        </div>
        <div class="mb-6">
            <h2 class="text-2xl font-bold text-gray-900 mb-4">Meet Our Team</h2>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 px-4 mb-4">
                    <div class="bg-gray-100 p-4 rounded-lg text-center">
                        <img src="/static/imgs/poromalphite.jpg" alt="Nestor Parra" class="w-24 h-24 mx-auto rounded-full mb-4">
                        <h3 class="text-lg font-semibold text-gray-800">Nestor Parra</h3>
                        <p class="text-gray-600">CEO & Founder</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 px-4 mb-4">
                    <div class="bg-gray-100 p-4 rounded-lg text-center">
                        <img src="/static/imgs/alejandro.jpg" alt="Alejandro Brital" class="w-24 h-24 mx-auto rounded-full mb-4">
                        <h3 class="text-lg font-semibold text-gray-800">Alejandro Brital</h3>
                        <p class="text-gray-600">Head of Development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="text-gray-800 text-lg">
                Thank you for choosing Chequeando. We are here to assist you every step of the way and look forward to helping you achieve your real estate goals.
            </p>
        </div>
    </div>
</div>
