

<div class=" row">
	<div class="card">
		<div class="card-body">
			<section>
				<form method="post" asp-controller="User" asp-action="Login">


					<div class="mb-2"> 
						<label class="form-lable">Emal/Username</label>
						<input type="text" name="usernameOrEmail" class="form-control" placeholder="enter email or username"/>
					</div>
					<div class="mb-2">
						<label class="form-lable">Emal/Username</label>
						<input type="text" name="password" class="form-control" placeholder="enter passwrd" />
					</div>
					<button type="sumit" class="btn btn-primary float-end"> LogIn</button>
				</form>
			</section>
		</div>

	</div>
	<div>
